.CatalogoLacosDecorados {

    .sessaoInicialCatalogo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5vh;
        padding: 5vh 5vw;
        height: 50vh;
        background-image: url('../../../../public/assets/images/imagemSessaoInicialCatalogo.png');
        background-size: cover;
        background-repeat: no-repeat;

        h2 {
            color: #fff;
            font-size: 2rem;
        }

        a {
            font-family: Krona One;
            font-size: 1.5rem;
            font-weight: 500;
            color: #fff;
            padding: 2vh 3vw;
            background-color: #F0C1B3;

        }

        a:hover {
            box-shadow: 0px 0px 50px 0px #FFB099;
            transition: 0.3s;
        }
    }

    .sessaoCardsPaginas {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10vw;
        padding: 10vh 0vw;

        .cardsPaginas {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            gap: 5vh;
            height: 30vh;
            width: 20vw;
            border-radius: 12px;

            h4 {
                color: #fff;
                font-size: 2em;
            }

            a {
                font-family: Krona One;
                font-size: 1rem;
                font-weight: 500;
                color: #fff;
                padding: 1vh 2vw;
                background-color: #F0C1B3;

            }

            a:hover {
                box-shadow: 0px 0px 50px 0px #FFB099;
                transition: 0.3s;
            }
        }

        #Faixas {
            background-image: url('../../../../public/assets/images/cardFaixasDeBebe.png');
            background-size: cover;
            background-repeat: no-repeat;
        }

        #Estampados {
            background-image: url('../../../../public/assets/images/cardLacosEstampados.png');
            background-size: cover;
            background-repeat: no-repeat;
        }

        #Kits {
            background-image: url('../../../../public/assets/images/kitsDeLacos.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    .tituloDaPagina {
        margin-left: 5vh;
    }
}

@media (max-width:1024px) {
    .CatalogoLacosDecorados {

        .sessaoCardsPaginas {

            .cardsPaginas {

                h4 {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media (max-width:912px) {
    .CatalogoLacosDecorados {

        .sessaoCardsPaginas {

            .cardsPaginas {
                height: 20vh;
                width: 20vw;
                gap: 2vh;
            }
        }
    }
}

@media (max-width:540px) {
    .CatalogoLacosDecorados {

        .sessaoInicialCatalogo {
            h2 {
                font-size: 1.5rem;
            }

            a {
                font-size: 1.2rem;
            }
        }

        .sessaoCardsPaginas {

            .cardsPaginas {
                height: 20vh;
                width: 25vw;

                h4 {
                    font-size: 1rem;
                }

                a {
                    font-size: 1rem;
                }
            }
        }

        .tituloDaPagina {
            margin-left: 5vh;

            h1 {
                font-size: 1.5rem;
            }
        }

    }
}

@media (max-width:430px) {
    .CatalogoLacosDecorados {
        
        .sessaoInicialCatalogo {
            height: 30vh;

            h2 {
                font-size: 1rem;
            }

            a {
                font-size: 1rem;
            }

            
        }
        .sessaoCardsPaginas {
            padding: 6vh 0vw;
            gap: 5vw;

            .cardsPaginas {
                height: 15vh;
                width: 26vw;

                h4 {
                    font-size: 0.8rem;
                }

                a {
                    font-size: 0.8rem;
                }
            }
        }

        .tituloDaPagina {
            margin-left: 2vh;

            h1 {
                font-size: 1.2rem;
            }
        }
    }
}