@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Rodape {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: #FFDBD0;
    padding: 60px;
    flex-wrap: wrap;
    gap: 20px;

    .separacaoComponentesRodape {
        img {
            height: 15vh;
        }
    }

    .redes-sociais {
        display: flex;
        flex-direction: row;
        gap: 8px;

        .insta {
            margin-top: 15px;
            width: 45px;
            height: 45px;
        }

        .face {
            margin-top: 18px;
            width: 35px;
            height: 35px;
        }
        
        & :hover {
            cursor: pointer;
        }
    }

    .cartaoUM h1 {
        font-family: "Leckerli One", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
    }

    .cartaoDOIS, .cartaoTRES, .cartaoQUATRO {
        font-family: "Prompt", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .sob-titulo p {
        font-family: "Prompt", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .cartaoUM, .cartaoDOIS, .cartaoTRES, .cartaoQUATRO {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cartaoUM h1, .cartaoDOIS h2, .cartaoTRES h2, .cartaoQUATRO h2 {
        color: #534242;
    }

    .cartaoUM .sob, .cartaoDOIS .sob-titulo, .cartaoTRES .sob-titulo, .cartaoQUATRO {
        margin-top: 10px;
        line-height: 22px;
    }
}


@media (max-width: 768px) {
    .Rodape {
        flex-direction: column; 
        align-items: flex-start;
        gap: 50px;
    }

    .cartaoUM {
        align-self: center; 
    }

    .cartaoDOIS, .cartaoTRES, .cartaoQUATRO {
        margin-left: 0; 
    }
}
