.pagina-entrar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;


    img {
        height: 200px;
        margin-bottom: 20px;
    }

    .info{
        display: flex;
        flex-direction: column;
        padding: 15px;

        label {
            justify-content: flex-start;

            font-family: "Poppins", sans-serif;
            font-weight: 500;
        }

        input {
            border: none;
            outline: none;
            box-shadow: none;

            background-color: #FFDBD0;
            height: 30px;
            width: 400px;
        }
    }

    .entrar {
        padding: 20px;

        p {
            background-color: #C1796D;
            color: #fff;
            padding: 10px 30px;

            text-decoration: none;
            font-family: "Krona One";
            font-weight: 300;
        }

        p:hover {
            background-color: #FFDBD0;
            color: #000;
            cursor: pointer;
        }
    }
}
