.CadastrarVendas {

    .VendaCadastro {
        background-color: #FFEEE9;
        height: 500px;

        display: grid;
        place-items: center;

        .container {
            display: flex;
            align-items: center;

            background-color: #fff;
            border-radius: 15px;
            padding: 25px 150px;
            gap: 150px;

            .info {
                display: flex;
                flex-direction: column;
                align-items: center;

                h2 {
                    font-family: 'Inter';
                    font-style: italic;
                    font-weight: 500;
                    padding: 15px;
                }

                .inputs {
                    display: flex;

                    div {
                        display: flex;
                        flex-direction: column;
                        padding: 10px;

                        label {
                            padding-bottom: 5px;
                            font-family: 'Inter';
                            font-weight: 500;
                        }

                        input {
                            border: none;
                            outline: none;

                            border: 1px solid #A4A4A4;
                            border-radius: 10px;
                            padding: 7px 5px;

                            font-family: 'Inter';
                            font-weight: 500;

                            background-color: #FFEEE9;
                            color: #333333;
                        }

                        .labels {
                            padding-top: 10px;
                        }
                    }
                }

                p {
                    color: #fff;
                    background-color: #F0C1B3;

                    font-family: 'Inter';
                    font-weight: 600;

                    padding: 15px 40px;
                    margin: 30px;
                    border-radius: 20px;
                }

                p:hover {
                    cursor: pointer;
                }
            }

            .produto {
                .inputs {
                    display: flex;
                    flex-direction: column;
                    padding: 10px;

                    label {
                        padding-bottom: 5px;
                        font-family: 'Inter';
                        font-weight: 500;
                    }

                    input {
                        border: none;
                        outline: none;

                        border: 1px solid #A4A4A4;
                        border-radius: 10px;
                        padding: 7px 5px;

                        font-family: 'Inter';
                        font-weight: 500;

                        background-color: #FFEEE9;
                        color: #333333;
                    }
                }

                .componente-laco {
                    background-color: #F0C1B3;
                    padding: 100px 0px;
                }
            }
        }
    }


    .VendaTabela {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        

        table {
            
            background-color: #F0C1B3;
            margin-top: 30px;
            padding: 25px 40px;

            thead tr th {
                font-weight: 800;
                font-family: 'Inter';

                border: 1px solid black;
                padding: 10px;
                text-align: left;
            }

            tbody tr td {
                font-family: 'Inter';
                border: 1px solid black;
                padding: 8px;
                text-align: left;
            }
        }

        .finalizar-venda {
            display: flex;
            flex-direction: row;
            padding: 30px;
            gap: 250px;

            .id-venda {
                display: flex;
                flex-direction: column;
                padding: 10px;

                label {
                    padding-bottom: 5px;
                    font-family: 'Inter';
                    font-weight: 500;
                }

                input {
                    border: none;
                    outline: none;

                    border: 1px solid #A4A4A4;
                    border-radius: 10px;
                    padding: 7px 5px;

                    font-family: 'Inter';
                    font-weight: 500;

                    background-color: #FFEEE9;
                    color: #333333;
                }
            }

            .botao {
                color: #fff;
                background-color: #F0C1B3;

                font-family: 'Inter';
                font-weight: 600;
                font-size: 20px;

                padding: 15px 40px;
                margin: 30px;
                border-radius: 20px;
            }

            .botao:hover {
                cursor: pointer;
            }
        }
    }


    .pop-up {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 20px;

        .mensagem {
            background-color: white;
            padding: 20px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            max-width: 400px;
            width: 100%;
            text-align: center;
            position: relative;
        }

        .botao {
            background-color: #F0C1B3;
            padding: 20px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            max-width: 400px;
            width: 100%;
            text-align: center;
            position: relative;
            font-weight: 500;
        }

        .botao:hover {
            cursor: pointer;
        }
    }

}
