.Nav {
    .separacao {
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        padding: 3vh 5vw;
        background-color: #FFDBD0;
        width: 100%;
        color: #3D3D3D;

        .divisaoComponentesNav {
            display: flex;
            flex-direction: row;
            align-items: center;
            text-align: center;

            img {
                height: 15vh;
            }

            h1 {
                font-size: 1.5em;
            }

            .divisaoComponentesNavLinks {
                display: flex;
                flex-direction: row;
                align-items: center;
                text-align: center;
                gap: 2vw;
            }
        }
    }

    button {
        all: unset;
        position: absolute;
        top: 6vh;
        right: 5vh;

        img {
            display: none;
            height: 4vh;
        }
    }

    .sessaoNavMob {
        position: fixed;
        top: 0;
        right: 0;
        display: none;
        flex-direction: column;
        height: 100vh;
        width: 50vw;
        background-color: #FDE2DA;
        align-items: center;
        justify-content: center;

        ul {
            display: flex;
            flex-direction: column;
            gap: 5vh;
            list-style: none;
            text-align: start;
        }
    }
}

@media (max-width: 1024px) {
    .Nav {
        .separacao {
            .divisaoComponentesNav {

                h1 {
                    font-size: 1.3em;
                }
                
            }

            .divisaoComponentesNavLinks {

                a {
                    font-size: 0.9rem;
                }
            }
        }
    }
}

@media (max-width: 912px) {
    .Nav {
        .separacao {
            .divisaoComponentesNav {

                img {
                    height: 10vh;
                }

                .divisaoComponentesNavLinks {
                    display: none;
                }
            }
        }

        // nav se transforma

        button {

            img {
                display: flex;
            }
        }

        .sessaoNavMob {
            display: flex;

            ul {

                li {
                    
                    a {
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 540px) {
    .Nav {
        .sessaoNavMob {
            ul {
                li {

                    a {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 430px) {
    .Nav {
        .separacao {
            .divisaoComponentesNav {

                h1 {
                    font-size: 1em;
                }

                img {
                    height: 7vh;
                }
            }
        }

        button {
            top: 5vh;

            img {
                height: 2.9vh;
            }
        }

        .sessaoNavMob {
            width: 60vw;

            ul {
                li {

                    a {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
}